---
title: Configuring Anypoint Platform Service Brokers for PCF
owner: MuleSoft
---

This topic describes how to configure the Anypoint Platform Service Brokers for PCF tile. 
Before configuring this tile, ensure that you have verified the prerequisites and installed the tile as 
described in [Installing Anypoint Platform Service Brokers for PCF](installing.html).

To configure the tile, modify the properties on each tab as necessary.

##<a id='license'></a> Configure the Mule Runtime License

Use the **Mule Runtime License Configuration** tab to add the license file in the text box on this tab. This is the license file that you downloaded in [Obtain Your muleLicenseKey.lic File](./installing.html#license).
License Configuration selector is disabled by default. Enable the selector to provide license information.
<%= image_tag 'license.png' %>

##<a id='general'></a>Configure General Properties

Use the **Anypoint Platform - Private Cloud Edition Properties** tab to configure general properties of the tile. Properties selector is disabled by default.

<%= image_tag 'on-prem-properties.png' %>

This tab contains the following properties:

| Property | Description |
| --------- | ------------ |
| Anypoint clientId | The value of the `clientId` you obtained before installing the tile. |
| Anypoint clientSecret | The value of the `clientSecret` you obtained before installing the tile. |
| Anypoint orgId | Enter the value of the `orgId` you obtained before installing the tile. |
| Anypoint platform URI | The URI used to communicate with the API Manager application of your Anypoint Platform Private Cloud Edition installation.  |
| Anypoint coreservices URI | The URI a Mule application for authentication and authorization when communicating with Private Cloud Edition. |
| Anypoint contracts URI | The URI of your contract caching service. This is required for caching policies in API Manager.|
| Anypoint platform ARM base URI | The URI of the Runtime Manager host on your local network. This is required for a Mule application to communicate with Runtime Manager. |


##<a id='services-config'></a> Configure the Runtime Manager and API Gateway Service Brokers

Use the **Anypoint Platform - Private Cloud Edition Service Broker Configuration** tab to configure the Runtime Manager Service Brokers.
Service Broker Configuration selector is disabled by default. Enable the selector to provide the configuration details.

<%= image_tag 'runtime-manager-service.png' %>

The following properties are required by Runtime Manager service broker. In general, you should not change the default values of these properties.


* RuntimeManager Service Broker Service Name
* RuntimeManager Service Broker Service UUID
* RuntimeManager Service Broker Service Plan
* API gateway service broker service name
* API gateway service broker service UUID
* API gateway service broker service plan

##<a id='metrics'></a> Configure Metering Service Plans

Use the **Anypoint Metering Service Plans** tab to configure the metering service plan for your installation. The two types of plans are:

* **Unlimited**: Provides unlimited access to the Anypoint Platform for PCF. All of the metering components are disabled.
* **Limited**: Enables you to specify the maximum number of monthly API requests (in millions) for each plan type. Plans are associated with production, pre-production, staging, and development environments. You can associate each org in your PCF installation with a specific plan type. See [About PCF Metrics and Usage](https://docs.mulesoft.com/anypoint-private-cloud/v/1.5/pcf-metering) for more information.

<p class="note"><strong>Note</strong>: When upgrading or reinstalling the tile, you must reconfigure any custom settings you make to the properties on this tab.</p>

<%= image_tag 'metering-service.png' %>

##<a id='services-enable'></a> Enable or Disable Service Brokers

Use the **Service Access** tab to enable or disable specific Anypoint Platform service brokers. In general, you should not change the default values of these properties.

<%= image_tag 'service-access.png' %>

##<a id='errands'></a> Configure Errands

Use the **Errands Tab** to enable or disable post-deploy or pre-delete errands. In general, you should not change the default values of these properties.

<%= image_tag 'errands.png' %>

This tile contains these errands:

| Errand | Description |
| --------- | ------------ |
| deploy-metering-errands | Deploys and updates the Anypoint Metering Service Broker and the Anypoint Metering application |
| deploy-anypoint-platform-errands | Deploys and updates the Runtime Manager service broker and API Gateway Manager service broker |
| delete-metering-errands | Deletes the Anypoint metering Service Broker and Anypoint Metering application |
| delete-anypoint-platform-errands | Deletes the Runtime Manager service broker and API Gateway Manager service broker |
