---
title: Installing and Configuring Anypoint Platform Service Brokers for PCF
owner: MuleSoft
---

This topic describes how a Pivotal Cloud Foundry (PCF) operator installs and configures [Anypoint Platform Service Brokers for PCF](http://docs.pivotal.io/mulesoft/).

##<a id='install'></a> Install

1. Download the product file from [MuleSoft's customer portal](https://www.mulesoft.com/support-login) or get in touch with your MuleSoft account representative.

1. Navigate to the Ops Manager Installation Dashboard and click **Import a Product** to upload the product file.

1. Click **Add** next to the uploaded Anypoint Platform Service Brokers for PCF tile in the Ops Manager **Available Products** view to add it to your staging area.

1. Click the newly added **Anypoint Platform Service Brokers for PCF** tile to configure it. Follow the instructions in the [Configure the Tile in Ops Manager](#tile) section.

1. Click **Save**.

1. Return to the Ops Manager Installation Dashboard and click **Apply Changes** to install **Anypoint Platform Service Brokers for PCF** tile.


##<a id='configure'></a> Configure

###<a id='digest'></a> Generate a License Digest

Use the MuleSoft License Verifier service to generate a runtime license digest as follows:

1. In a browser, navigate to [https://mulelicenseverifier.cloudhub.io](https://mulelicenseverifier.cloudhub.io).
1. Upload your MuleSoft Runtime license `.lic` file, which you obtained during the customer onboarding process.
1. Click **Verify**.
1. Download the digested license by clicking **Download digested license**. This downloads the `muleLicenseKey.lic` file.
1. Record the contents of the `muleLicenseKey.lic` file for use in the [Configure the Tile in Ops Manager](#tile) section.

###<a id='creds'></a> Retrieve Your Anypoint Platform Credentials

You must have credentials for your [Anypoint Platform organization](https://docs.mulesoft.com/access-management/organization) when configuring the tile. Follow these instructions to obtain your credentials:

1. Log in to the Anypoint Platform as an admin user.

1. Navigate to **Access Management** > **Organization**.

1. Open the settings for your main organization and record the values for `clientId`, `clientSecret`, `orgId`. Use these values in the next section.

###<a id='tile'></a> Configure the Tile in Ops Manager

Below are the configurable settings on your Tile. These fields come with default values that you will likely need to change for your particular use case.

#### Mule Runtime License Configuration


<%= image_tag 'licence.png' %>

Property | Description |
| --------- | ------------ |
| MULE\_LICENSE|Paste the contents of the `muleLicenseKey.lic` file you generated on the MuleSoft License Verifier service. See section [License](index.html#license). |


#### On-prem Anypoint Platform Properties

This tab sets the main properties for your platform.

<%= image_tag 'on-prem-properties.png' %>

| Property | Description |
| --------- | ------------ |
| SUPER\_USER\_CREDS\_CLIENTID | `clientId` on Anypoint platform. Obtain it by doing as described above |
| SUPER\_USER\_CREDS\_CLIENTSECRET | `clientSecret` to access Anypoint platform. Obtain it by doing as described above |
| SUPER\_USER\_CREDS\_MASTERORGID | `orgId` for your organization on the Anypoint platform. Obtain it by doing as described above. If you have more than one because you will manage multiple top-level organizations and want to run each on a different PCF space, you must install multiple separate tiles and configure one with each.|
| ANYPOINT\_PLATFORM\_PLATFORM\_BASE\_URI | URI under which you host the Anypoint Platform on your local network |
| ANYPOINT\_PLATFORM\_CORESERVICES\_BASE\_URI | URI under which you host the Core Services for the Anypoint Platform on your local network |
| ANYPOINT\_PLATFORM\_ARMBASEURI | URI under which you host the Runtime Manager on your local network |




#### Runtime Manager Service Broker Configuration

The following properties are required by Runtime Manager service broker. These properties need to be unique per PCF installation:

<%= image_tag 'runtime-manager-service.png' %>

| Property | Description |
| --------- | ------------ |
| CF\_SERVICE\_NAME | Runtime manager service broker service name |
| CF\_SERVICE\_ID | Runtime manager service broker service id |
| CF\_SERVICE\_PLAN | Runtime manager service broker service plan |



#### API Gateway Service Broker Configuration

The following properties are required by the API Gateway service broker. These properties need to be unique per PCF installation:

<%= image_tag 'api-gateway-service.png' %>

| Property | Description |
| --------- | ------------ |
| GATEWAY\_SERVICE\_NAME | API gateway service broker service name |
| GATEWAY\_SERVICE\_ID | API gateway service broker service id |
| GATEWAY\_SERVICE\_PLAN | API gateway service broker service plan |



#### Service Access

You can choose to enable or disable either of the two service brokers through this tab.

<%= image_tag 'service-access.png' %>



#### Stemcell

If necessary, download the required stemcell from [Pivotal Network](http://network.pivotal.io/products/stemcells) and upload it as a `.zip` file by clicking **Import Stemcell**.

<%= image_tag 'stemcell.png' %>

##<a id='buildpack'></a> Install the Mule Runtime Buildpack

After installing and configuring the tile, you must also install:

* The Mule Runtime Buildpack
* The Space Configuration Tool

See full instructions about how to install and configure these components [here](https://docs.mulesoft.com/anypoint-platform-on-premises/v/1.5.0/configuring-anypoint-platform-for-pcf).

Once you have installed the MuleSoft Anypoint Platform Service Brokers for PCF tile, the Mule Runtime Buildpack and the Space Configuration Tool, your developers can create instances of the services within their development spaces. For each PCF space in which they create a service instance, they must create a corresponding Anypoint Space Configuration Tool from the Anypoint interface. See the [Using Anypoint Platform for PCF](using.html) topic for details.
